<br><%= @game.player_1.name %> attacked <%= @game.player_2.name %><br>
<br><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP<br>
<br><%= @game.current_turn.name %>'s turn<br>


<a href="/attack">Attack</a>
<a href="/ok">OK</a>