<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.current_turn.name %>'s turn

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<%= @player_2_name %>: 60HP

<a href="/attack">Attack</a>
<a href="/ok">OK</a>

